#nwesDiv{
    padding-top: 150px;
}

#newsTitle{
    text-align: center;
}

#updateBtnDiv{
    background-color: aqua;
    margin-left: 1550px;
}

#newsCreatedAt{
    font-size: small;
    margin-left: 500px;
    float: left;
}

#newsUpdatedAt{
    font-size: small;
    margin-left: 10px;
    float: left;
}

#newsNickname{
    margin-right: 600px;
    margin-bottom: 100px;
    text-align: right;
}

#newsImg{
    margin: auto;
    display: block;
}

#newsContent{
    word-break:break-all;
    font-size: 20px;
    margin: 100px 500px 100px 500px; 
    text-align: center;
}

#btnLiked{
    margin-top: 2px;
    margin-right: 5px;
    float: right;
}

#liked{
    float: right;
    margin-right: 600px;
}

footer{
    text-align: center;
    margin-top: 300px;
}