#nwesDiv{
    padding-top: 150px;
}

#likedDiv{
    margin-bottom: 200px;
}

#newsTitle{
    margin-bottom: 20px;
    text-align: center;
}

#updateBtnDiv{
    margin-left: 1550px;
}

#newsCreatedAt{
    font-size: small;
    margin-left: 500px;
    float: left;
}

#newsUpdatedAt{
    font-size: small;
    margin-left: 10px;
    float: left;
}

#newsNicknameDiv{
    margin-right: 500px;
    margin-bottom: 100px;
    text-align: right;
}

#newsImg{
    margin: auto;
    display: block;
}

#newsContent{
    word-break:break-all;
    font-size: 20px;
    margin: 100px 500px 70px 500px; 
    text-align: center;
}

#btnLiked{
    margin: 2px;
    margin-right: 5px;
    float: right;
}

#liked{
    float: right;
    margin-right: 600px;
}

.comment-container {
    margin-left: 500px;
    margin-right: 500px;
    background-color: lightyellow;
    border-radius: 10px;
    padding: 10px;
}

.comment {
    margin-bottom: 10px;
    position: relative;
}

.comment .content {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.comment .actions {
    display: flex;
    justify-content: flex-end;
}

.comment .actions button {
    margin-left: 5px;
}

.comment::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: #ccc;
}

#commentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#commentContent {
    margin-bottom: 10px;
}

footer{
    text-align: center;
    margin-top: 300px;
}