.body {
    background-image: url("https://c.wallhere.com/photos/3d/f7/Liverpool_FC_soccer_men_sport-201243.jpg!d");
  }

  .form-control {
    background-color: transparent;
  }

  .wrap {
    width: 60%;
    margin: auto;
    margin-top: 30px;
  }

  .form-group {
    margin-top: 20px;
  }

  .label {
    margin-top: 20px;
  }

  .btncls {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-top: 10px;
  }

  .btn-primary {
    margin-left: 20px;
  }

  .inputPwd {
    width: 200px;
    margin-left: 10px;
    -webkit-text-security: disc;
  }