.input {
    display: grid;
    grid-template-columns: 200px 500px;
    gap: 10px;
    grid-auto-rows: 200px;
    /* 높이를 조절하려는 값으로 변경 가능 */
}

.output {

    width: 1000 px;
}

.left-input label {
    display: block;
    text-align: right;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
}

.right-input input {
    margin-bottom: 5.5px;
    margin-top: 5px
}

input.row {
    height: 20.8px;
    /* 4.2 작게 */
    margin-bottom: 2px;
    margin-top: 3px;
}

.btn {
    margin-left: 200px;
}

.image {
    height: 100%;
    width: 100%;
    background-image: url('https://i.ytimg.com/vi/lo5Qsv_lRK8/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}