* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  border-bottom: 2px black solid;
}

nav,
h1,
nav li {
  float: left;
}

nav h1 {
  margin: 0 20px;
}

/* main-container */
.main-container {
  margin: 130px auto 100px auto;
  width: 80%;
  height: 100%;
}

/* main contents */

footer {
  width: 100%;
  height: 50px;
  border-top: 1px black solid;
}

footer p {
  padding-top: 10px;
  text-align: center;
}
