.input {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 10px;
}

.left-input label {
    display: block;
    text-align: right;
    align-items: center;
    margin-top : 5px;
    margin-bottom: 5px;
    height : 25px;
}

input.row {
    height: 20.8px; /* 4.2 작게 */
    margin-bottom: 2px;
    margin-top:3px;
}

.button {
    margin-left : 200px;
}