<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>축스피드</title>
  </head>
  <body>
    <nav>
      <h1>축스피드</h1>
      <div>
        <form action="" method="post">
          <input type="text" placeholder="ID 입력" />
          <input type="text" placeholder="PW 입력" />
          <button>로그인</button>
        </form>
        <button>회원가입</button>
      </div>
    </nav>

    <div class="main-container">
      <main>
        <div class="category-btn">
          <button>국내축구</button>
          <button>해외축구</button>
        </div>
        <div class="sort-btn">
          <button>최신순</button>
          <button>좋아요순</button>
        </div>
        <div class="news-box">
          <ul>
            <li class="news-list"></li>
            <li class="news-list"></li>
            <li class="news-list"></li>
          </ul>
        </div>
      </main>
      <footer>NodeJs A반 6조 - 노드레인저</footer>
    </div>
  </body>
</html>
